.main {
    transform: scale(1.4);
    background: #9A1212;
}

.main a { color: #ffffff; }

.main:hover {
    transform: scale(1.42);
    background: #9A1212;
}

.about {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr 1fr;
    font-size: 35px;
    text-align: right;
}

.t_block {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 220px 1fr;
    align-self: center;
}

.t_block img{
    width: 100%;
}

.about p {
    grid-column: 2/3;
    grid-row: 2/3;
}

@media screen and (max-width: 1650px){
    .about {
        font-size: 25px;
    }
    .about > p {
        text-align: center;
    }
}

@media screen and (max-width: 750px){
    .t_block {
        grid-template-columns: 150px 1fr;
    }
    .about {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px){
    .t_block {
        grid-template-columns: 100px 1fr;
    }
    .about {
        font-size: 14px;
    }
}