.products {
    display: grid;
    grid-row: 3/4;
    grid-template-columns: 80px repeat(5, 1fr) 150px;
    align-items: center;
    z-index: 1;
}

.products :not(.arr) {
    height: 50%;
}

.leaves_5 {
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 80px;
}